@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if(SignInManager.IsSignedIn(User))
{
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/MyAccount/Index">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Logout/Index">Güvenli Çıkış</a>
    </li>
</ul>
}
else
{
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/Login/Index">Giriş</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Register/Index">Kayıt Ol</a>
    </li>
</ul>
}
